body {
  background-color: #d7dfe0;
  font-family: 'Thasadith', sans-serif;
}

h1 {
  margin-left: 20px;
}

img {
  margin-bottom: 50px;
}

.well-body {
  margin-left: 275px;
  margin-top: 89px;
  float: right;
  padding: 20px;
  z-index: 1;
  background-color: white;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d7dfe0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.profile {
  width: 250px;
  height: 250px;
  margin-left: 25px;
}

.heading {
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

.highlight {
  color: #42e5f4;
}

.info {
  padding-left: 20px;
}

#info {
  margin: 60px 0 90px 0;
}


#linkedin {
  text-align: center;
}
