/* body {
  background-image: url(..img/cave.jpg);
  background-size: cover;
} */


body {
  background-color: #A59586;
}

.well-body {
  margin-left: 300px;
  margin-top: 80px;
  float: right;
  padding: 20px;
  z-index: 1;
  background-color: white;
}

#info {
  margin: 60px 0 90px 0;
}

/* .rectangle-top {
  height: 175px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A59586;
}

.rectangle-left {
  height: 100%;
  width: 500px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #A59586;
} */

.sidebar {
  height: 100%;
  width: 500px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A59586;
}

#linkedin {
  text-align: center;
}
